* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(web3.jpg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 75px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: rgb(250, 250, 250);
    text-decoration: none;
    font-family: Verdana;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: rgb(250, 250, 250);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: rgb(250, 250, 250);
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: rgb(250, 250, 250);
    border: 1px solid rgb(250, 250, 250);
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .fa {
    display: none;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;

    }
    nav .fa {
        display: block;
        color: rgb(250, 250, 250);
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
    }
}

.offers {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: rgba(4, 9, 30, 0.7);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
/* 
.row {
    margin-top: 5%;
    /* display: flex; 
    /* justify-content: space-between; 
    width: 33%;
     overflow: auto; 
    display: inline-block;

} */

.course-col {
     /* flex-basis: 31%; */
    background: rgb(250,250,250);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box; 
    margin-top: 10px;
    width: 33%;
    display: inline-block;
    transition: 0.5;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

/* p3 {
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(35, 34, 34, 0.5);
    color: rgb(7, 7, 59);
    text-align: center;
} */


Form {
    border: 2px solid rgb(1, 1, 23);
    color: rgb(1, 1, 23);
    text-shadow: 2px 2px 4px rgba(35, 34, 34, 0.5);
    background-color: rgb(252, 253, 255);
    padding: 20px;
    width: 350px;
    height: 370px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

input {
    box-sizing: border-box;
    border: 2px solid rgb(1, 1, 23);
    border-radius: 2px;
    text-align: center;
}

input[type=submit] {
    background-color: rgb(1, 1, 23);
    color: rgb(252, 252, 252);
    text-align: center;
}

footer {
    text-align: center;
    font-family: Helvetica;
    padding: 3px;
    background-color: rgb(163, 185, 225);
    color: rgb(12, 2, 46);
    text-shadow: 2px 2px 4px rgba(35, 34, 34, 0.5);
    margin-left: -7.8px;
    margin-right: -7.8px;
}

.go {
    /*padding-top: 0.2px;*/
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: -7.8px;
    margin-right: -7.8px;
    margin-top: 20px;
    margin-bottom: 10px;
    color:rgb(252, 253, 255);
    background-color:rgb(18, 18, 38);
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    transition: width 2s;
    text-align: center;
}

* {
    box-sizing: border-box;
}
